<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <section>
        <div th:replace="~{base :: parent}"> </div>
        <div class="container-fluid p-5 mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <p class="fs-4">Add Category</p>
                            <p class="text-success fw-bold"></p>
                        </div>
                        <div class="card-body">
                            <form action="/admin/category" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label>Enter Category</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                            
                                <div class="mb-3">
                                    <label>Status</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" checked value="true" name="Active" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Active" value="false" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">Inactive</label>
                                    </div>
                                </div>
                            
                                <div class="mb-3">
                                    <label>Location</label>
                                    <input type="text" name="location" class="form-control" required>
                                </div>
                            
                                <button class="btn btn-primary col-md-12 mt-2">Save</button>
                            </form>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header fs-4">Category Details</div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sl No</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Image</th>
                                        <th >Active</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Example category data -->
                                    <tbody>
                                        <!-- Loop through categories and display them -->
                                        <tr th:each="category, iterStat : ${fetch}">
                                            <td th:text="${iterStat.count}"></td>
                                            <td th:text="${category.name}"></td>
                                            <td th:text="${category.location}"></td>
                                            <td th:text="${category.Active}"></td>
                                            <td></td>   `
                                            <td >
                                                <a th:href="@{'/admin/edit/'+${category.id}}"   class="btn btn-primary "><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                                                <a th:href="@{'/delete/'+${category.id}}" class="btn btn-danger">Delete</a>

                                            </td>
                                            
                                        </tr>

                                    </tbody>
                                   
                                    </tr>
                                    <!-- Repeat similar rows for other categories -->
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-4">Total Category: 5</div>
                                <div class="col-md-6">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="/admin/category?pageNo=0" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="/admin/category?pageNo=0">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/category?pageNo=1">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/category?pageNo=2">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="/admin/category?pageNo=1" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>
